<%- include('header'); -%>

        <h1><p align= 'center'>
            Hello,  <%= username %></p>
           <br> Here are your details<br></h1>


            <br>
           <h2>Client Number:   <%= clientNumber %> <br>
            Society:         <%= society %>
 <br>
         Contact: <%= contact%>
                     <br>
                     Address:
                     <%= address %>
                     <br>
                     Zipcode:
 
                     <%= zipcode %>
                     <br>
                     City:
 
                     <%= city %>
                     <br>
                     Phone: <%= phone %>
                     <br>
                     Fax:
 
                     <%= fax %>
                     <br>
                     Max Outstanding:
 
                     <%= maxOutstanding %></h2>

        <br>


    <%- include('footer'); -%>